@font-face {
    font-family: 'akkurat bold';
    src: url('font/akkurat_bold-custom.eot');
    src: url('font/akkurat_bold-custom.eot?#iefix') format('embedded-opentype'),
         url('font/akkurat_bold-custom.woff2') format('woff2'),
         url('font/akkurat_bold-custom.woff') format('woff'),
         url('font/akkurat_bold-custom.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}
@font-face {
    font-family: 'akkurat light';
    src: url('font/akkurat_light_regular-custom.eot');
    src: url('font/akkurat_light_regular-custom.eot?#iefix') format('embedded-opentype'),
         url('font/akkurat_light_regular-custom.woff2') format('woff2'),
         url('font/akkurat_light_regular-custom.woff') format('woff'),
         url('font/akkurat_light_regular-custom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'akkurat';
    src: url('font/akkurat_regular-custom.eot');
    src: url('font/akkurat_regular-custom.eot?#iefix') format('embedded-opentype'),
         url('font/akkurat_regular-custom.woff2') format('woff2'),
         url('font/akkurat_regular-custom.woff') format('woff'),
         url('font/akkurat_regular-custom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
body {
	font-family: akkurat light, Arial, sans-serif;
	max-height: 750px;
	background-color:black;
}

.container-fluid {
	max-width: 1024px;
}

.main-body {
	background: #000;
}

.footer {
	background: #fff;
}

.footer-links {
	padding: 10px 0px;
	text-align: center;
	height: auto;
}

.footer-links a {
	color: #494949;
	font-size: 20px;
}

#contact-us {
	/*padding-right: 75px;*/
}

.test-layer {
	z-index: 20;
	position: relative;
	top:-550px;
}

.luggage {
	color: #FFF;
	text-align: center;	
	font-size: 50px;
}

.email-form {
	text-align: center;
	color:#fff;
	font-size: 14px;
}

.email-form p{
	display: inline;
}

.email-form label {
	margin: 0;
	color: #fff;
}
.si-label {
	padding-right:12px;
}

.email-form #subscribe {
	left:-5px;
	top:-1px;
	font-family: akkurat bold, Arial, sans-serif;
}

.email-form #email {
	width: 247px;
	height: 40px;
	color: #494949;
	padding-left:12px;
}

.email-form #subscribe {
	background-color: #696969;
	border: none;
	color: #FFF;
	height: 40px;
}

.raden-logo {
	position: relative;
	top: 200px;
	text-align: center;
}

#error {
	color:#f00;
	font-size: 20px;
	text-align: center;
}

@media screen and (max-width:580px){
	
	.test-layer {
		z-index: 20;
		position: relative;
		top:-375px;
		margin-top:auto;
	}
	
	.email-form {
		font-size: 20px;
	    text-align: center;
		width: 300px;
		margin-left: auto;
        margin-right: auto;
		
	}
	
	.email-form label span{
		padding-bottom: 10px;
	}
	
	.email-form label{
		padding-bottom: 10px;
	}
	
	.email-form #subscribe {
		position:relative;
		left:0;
		top:0;
	}
	.email-form p{
		display: block;
	}
	
	.luggage {
		font-size: 30px;
	}
	
	.raden-logo {
		position: relative;
		top: 100px;
		text-align: center;
	}
	
}

@media screen and (max-width: 375px) {
	
	.email-form {
		text-align: center;
		width: 300px;
		position: relative;
		left: 25px;
	}
	
}

@media screen and (max-width:320px) {
	.email-form {
		text-align: center;
		width: 300px;
		position: relative;
		left: 0;
		top: 60px;
	}
	
	.footer-links a {
		font-size: 16px;
	}
	
	.luggage {
		position: relative;
		top: 65px;
	}
}