@font-face {
    font-family: 'akkurat bold';
    src: url('font/akkurat_bold-custom.eot');
    src: url('font/akkurat_bold-custom.eot?#iefix') format('embedded-opentype'),
         url('font/akkurat_bold-custom.woff2') format('woff2'),
         url('font/akkurat_bold-custom.woff') format('woff'),
         url('font/akkurat_bold-custom.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'akkurat light';
    src: url('font/akkurat_light_regular-custom.eot');
    src: url('font/akkurat_light_regular-custom.eot?#iefix') format('embedded-opentype'),
         url('font/akkurat_light_regular-custom.woff2') format('woff2'),
         url('font/akkurat_light_regular-custom.woff') format('woff'),
         url('font/akkurat_light_regular-custom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'akkurat';
    src: url('font/akkurat_regular-custom.eot');
    src: url('font/akkurat_regular-custom.eot?#iefix') format('embedded-opentype'),
         url('font/akkurat_regular-custom.woff2') format('woff2'),
         url('font/akkurat_regular-custom.woff') format('woff'),
         url('font/akkurat_regular-custom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html{
    height:100%;
}
body {
	font-family: akkurat light, Arial, sans-serif;
	background-color:black;
	height:100%;
	color:white;
}
h1 {
	text-align: center;	
	font-size: 36px;
	padding-bottom: 30px;
}
.main-body {
    padding-top:20px;
}
.highZLayer {
	z-index: 20;
    top: 50%;
    height: 310px;
    margin-top: -155px;
	position: fixed;
	text-align:center;	
	width:100%;
}
.blur{
	filter: url(blur.svg#blur);
	-webkit-filter: blur(3px);
	filter: blur(3px);
}
.email-form {
	text-align: center;
	font-size: 14px;
}
.email-form p {
	display: block;
	font-family: akkurat light, Arial, sans-serif;
	font-weight: 400;
}
.email-form label {
	margin: 0;
}
.si-label {
	font-size: 14px;
	font-family: akkurat light, Arial, sans-serif;
}
.email-form #email {
	width: 247px;
	height: 40px;
	color: #494949;
	padding-left:12px;
}
.email-form #subscribe {
    font-family: akkurat light, Arial, sans-serif;
	background-color: #696969;
	border: none;
	height: 40px;
	margin-top:10px;
}
.radenlogo {
	padding-top:60px;
}
#error {
	width: 247px;
    height: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    display: none;
}
.landscape {
    display:block;
}
.portrait {
    display:none;
}
.simplebtn:active,.simplebtn:focus {
    outline-color:white !important;
    color: white;
    outline: 1px;
}
.simplebtn:hover {
    color: white;
}
.simpleform {
	border: none;
}
.success-confirmation {
	position: relative;
	top: -220px;
	opacity: 0.0;
}
#resubmit {
	cursor: pointer;
	text-decoration: underline;
}
@media screen and (orientation: portrait){
    .portrait{
        display:block;
    }
    .landscape{
        display:none;
    }
}
@media screen and (max-height:400px){
    h1{
        padding-bottom: 0px;
        margin-bottom: 0px !important;
    }
    .radenlogo {
	    padding-top:10px;
    }
    .highZLayer {
		height: 214px;
		margin-top: -110px;
	}
}
@media screen and (max-width:650px){
	h1 {
		 font-size: 28px;
		 padding-bottom: 20px;
	 }
	.email-form {
		font-size: 16px;
	}
	.email-form label span{
		padding-bottom: 10px;
	}
	.email-form label{
		padding-bottom: 10px;
	}
	
}
@media screen and (max-width:500px){
	h1 {
		 font-size: 20px;
		 padding-bottom: 15px;
	 }
	 .email-form {
		font-size: 14px;
	 }
	 .si-label{
	    font-size: 14px;
	 }
}
@media screen and (max-width:320px) {
	.email-form {
		font-size: 12px;
	}
	.si-label{
	    font-size: 12px;
	}
	h1 {
		 font-size: 20px;
		 padding-bottom: 10px;
	 }
}